@media screen and (max-width: 600px) {
    .footer {
        display: block;
        padding: 0px;
        padding-top: 10px;
        background: transparent;
    }
    .emails {
        margin-top: 0px;
        display: block;
        border-top: 2px solid #bababa;
        background: linear-gradient(30deg, #00ffaadd 0%, #6FE0FDdd 100%);
    }
    .emails p { margin: 0 10px; }
    #al, #ad, #good { transform: rotate(0deg); }
}

@media screen and (max-width: 550px) {
    .header {
        background: linear-gradient(20deg, transparent 52%, #6fe0fd 55%, #6fe0fd 60%, #00ffaa 90%);
    }
    .rubi {
        font-size: 65px;
        margin-left: 17%;
        margin-top: 50px;
    }
    .slogan { top: 55px; left: 24%; }
    .arrow-wrapper { top: 172px; left: 65%; }
}
@media screen and (max-width: 490px) {
    .header {
        background: linear-gradient(20deg, transparent 51%, #6fe0fd 54%, #6fe0fd 56%, #00ffaa 87%);
    }
    .rubi {
        font-size: 63px;
        margin-left: 15%;
        margin-top: 57px;
    }
    .slogan { top: 55px; left: 19%; }
    .menu { padding-top: 110.4px; top: 12px; }
    .arrow-wrapper { left: 65%; }
}
@media screen and (max-width: 455px) {
    .slogan { left: 15%; }
    .arrow-wrapper { left: 70%; }
}
@media screen and (max-width: 435px) {
    .header {
        background: linear-gradient(20deg, transparent 49%, #6fe0fd 52%, #6fe0fd 56%, #00ffaa 87%);
    }
    .slogan { left: 9%; }
    .rubi { margin-left: 7%; margin-top: 57px; }
    .arrow-wrapper { top: 176px; left: 65%; }
    .menu {
        background: linear-gradient(20deg, #6fe0fd 30%, transparent 33%);
    }
    .menu a { margin: 0 10px; }
}
@media screen and (max-width: 420px) {
    .header {
        background: linear-gradient(20deg, transparent 45%, #6fe0fd 48%, #6fe0fd 51%, #00ffaa 83%);
    }
    .rubi { margin-top: 85px; font-size: 55px; margin-left: 13%; }
    .slogan { font-size: 25px; top: 72px; left: 13%; }
    .menu {
        top: 20px;
        background: linear-gradient(20deg, #6fe0fd 28%, transparent 31%);
    }
    .menu p { font-size: 18px; width: 38px; }
    .menu a { margin: 0 5px; font-size: 14px; }
    .features-inner { font-size: 19px; }
    .fleftop p { top: 40px; left: 8%; }
    .frightop p { top: 70px; right: 10%; }
    .frightom p { top: 65px; right: 10%; }
    .fleftom p { bottom: 33px; left: 12%; }
    .lt { top: 5px; left: 0px; }
    .rt { bottom: 15px; right: 5px; }
    .rb { top: 15px; right: 5px; }
    .lb { bottom: 5px; left: 0px; }
    .footer {
        display: block;
        padding: 0px;
        padding-top: 10px;
        background: transparent;
    }
    .emails {
        margin-top: 0px;
        display: block;
        border-top: 2px solid #bababa;
        background: linear-gradient(30deg, #00ffaadd 0%, #6FE0FDdd 100%);
    }
    .emails p { margin: 0 10px; }
    #al, #ad, #good { transform: rotate(0deg); }
}

@media screen and (max-width: 385px) {
    .slogan { left: 7%; }
    .arrow-wrapper { left: 73%; }
}
@media screen and (max-width: 360px) {
    .slogan { top: 65px; left: 0; }
    .rubi { margin-top: 81px; margin-left: 7%; }
}
@media screen and (max-width: 335px) {
    .slogan { font-size: 23px; }
}
@media screen and (max-width: 310px) {
    .slogan { font-size: 22px; top: 76px; }
    .rubi { margin-left: 0%; }
}
@media screen and (min-width: 600px) {
    .header {
        height: 200px;
        background: linear-gradient(20deg, transparent 49%, #6fe0fd 52%, #00ffaa 80%);
        transition-duration: .5s;
    }
    .rubi {
        font-size: 60px;
        margin-left: 17%;
        margin-top: 45px;
        transition-duration: .5s;
    }
    .slogan {
        left: 33%;
        font-size: 27px;
        transition-duration: .5s;
    }
    .menu {
        background: linear-gradient(20deg, #6fe0fd 29%, transparent 33%);
        padding-top: 85.4px;
        padding-left: 20px;
        top: 0; left: 0;
        transition-duration: .6s
    }
    .menu_active {
        left: 0;
        transition-duration: 1s;
      }
    .menu-item {
        margin-left: 0px;
        transition-duration: .3s;
    }
    .menu p {
        width: 52px;
        font-size: 25px;
        transition-duration: .5s;
    }
    .menu a {
        margin: 0 13px;
        font-size: 17px;
        transition-duration: .5s;
    }
    .arrow-wrapper, .arrow {
        display: none;
        transition-duration: .5s;
    }
    .news {
        margin-top: 200px;
        transition-duration: .8s;
    }
    .news-wrap {
        background: linear-gradient(175deg, #6fe0fd 27%, transparent 29%, transparent 34%, #00FFAA 36%, #00ffaa 64%, transparent 66%, transparent 71%, #6fe0fd 73%);
        padding: 0 11%;
        transition-duration: .8s;
    }
    .footer {
        background: linear-gradient(30deg, #00ffaa 14%, #6FE0FD 33%, #6fe0fd 52%, transparent 80%, transparent 85%, #00ffaa 100%);
    }
}
@media screen and (min-width: 640px) {
    .footer {
        background: linear-gradient(30deg, #00ffaa 14%, #6FE0FD 33%, #6fe0fd 52%, transparent 80%, transparent 83%, #00ffaa 100%);
    }
}
@media screen and (min-width: 660px) {
    .rubi { font-size: 66px; margin-left: 19%; }
}
@media screen and (min-width: 680px) {
    .footer {
        background: linear-gradient(30deg, #00ffaa 14%, #6FE0FD 33%, #6fe0fd 52%, transparent 74%, transparent 81%, #00ffaa 100%);
    }
}
@media screen and (min-width: 700px) {
    .rubi { font-size: 70px; margin-left: 22%; }
}
@media screen and (min-width: 800px) {
    .header {
        background: linear-gradient(20deg, transparent 46%, #6fe0fd 50%, #00ffaa 80%);
        transition-duration: .5s;
    }
    .footer {
        background: linear-gradient(30deg, #00ffaa 4%, #6FE0FD 14%, #6fe0fd 47%, transparent 68%, transparent 75%, #00ffaa 94%);
        transition-duration: .8s;
    }
}
@media screen and (min-width: 900px) {
    .header {
        background: linear-gradient(20deg, transparent 49%, #6fe0fd 52%, #00ffaa 80%);
        transition-duration: .5s;
    }
    .rubi {
        font-size: 78px;
        margin-left: 24%;
        margin-top: 20px;
        transition-duration: .5s;
    }
    .slogan {
        left: 36%;
        font-size: 32px;
        transition-duration: .5s;
    }
    .menu {
        background: linear-gradient(20deg, #6fe0fd 29%, transparent 33%);
        padding-top: 46.4px;
        padding-left: 20px;
        top: 0; left: 0;
        transition-duration: .6s
    }
    .menu-item {
        margin-left: 10px;
        transition-duration: .3s;
    }
    .menu p {
        width: 71px;
        font-size: 35px;
        transition-duration: .5s;
    }
    .menu a {
        margin: 0 20px;
        font-size: 21px;
        transition-duration: .5s;
    }
    .arrow-wrapper, .arrow {
        display: none;
        transition-duration: .5s;
    }
    .news {
        margin-top: 200px;
        transition-duration: .8s;
    }
    .news-wrap {
        background: linear-gradient(175deg, #6fe0fd 27%, transparent 29%, transparent 35%, #00FFAA 37%, #00ffaa 63%, transparent 65%, transparent 71%, #6fe0fd 73%);
        transition-duration: .8s;
    }
    .news-item {
        height: auto;
        transition-duration: .5s;
    }
    .news-item p {
        font-size: 25px;
        transition-duration: .3s;
    }
    .leftop {
        background: linear-gradient(175deg, #6fe0fdf0 43%, transparent 48%);
        transition-duration: .5s;
    }
    .rightop {
        margin-top: -83px;
        background: linear-gradient(175deg, transparent 52%, #00ffaabb 57%);
        border: none;
        transition-duration: .5s;
    }   
    .leftom {
        background: linear-gradient(175deg, #00ffaabb 43%, transparent 48%);;
        transition-duration: .5s;
    }
    .rightom {
        margin-top: -83px;
        background: linear-gradient(175deg, transparent 52%, #6fe0fdf0 57%);
        transition-duration: .5s;
    }
    .features-wrap {
        padding: 0 15%;
        background: linear-gradient(90deg, #6fe0fd 21%, #6fe0fd11 29%, transparent 30%, transparent 75%, #00ffaa11 78%, #00ffaa 83%);
        transition-duration: .5s;
    }
    .frightop { margin-top: -180px; }
    .fleftom { margin-top: -180px; }
     .footer {
        padding: 20px 10px 30px 0;
        align-items: center;
        background: linear-gradient(30deg, #00ffaa 4%, #6FE0FD 14%, #6fe0fd 47%, transparent 68%, transparent 74%, #00ffaa 88%);
        transition-duration: .8s;
    }
    .contact {
        margin: 0;
        margin-top: 10px;
        background: transparent;
        font-size: 25px;
        transition-duration: .5s;
    }
    .emails {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        transition-duration: .5s;
    }
    #al, #ad, #good {
        background: transparent;
        transform: rotate(30deg);
        transition-duration: .5s;
    }
}
@media screen  and (min-width: 1000px) {
    .footer {
        background: linear-gradient(30deg, #00ffaa 4%, #6FE0FD 14%, #6fe0fd 47%, transparent 68%, transparent 71%, #00ffaa 88%);
        transition-duration: .8s;
    }
}
@media screen  and (min-width: 1040px) {
    .header {
        background: linear-gradient(20deg, transparent 48%, #6fe0fd 51%, #00ffaa 80%);
        transition-duration: .5s;
    }
}
@media screen  and (min-width: 1100px) {
    .footer {
        background: linear-gradient(30deg, #00ffaa 4%, #6FE0FD 14%, #6fe0fd 45%, transparent 66%, transparent 69%, #00ffaa 89%);
        transition-duration: .8s;
    }
}
@media screen  and (min-width: 1200px) {
    .header {
        background: linear-gradient(20deg, transparent 46%, #6fe0fd 49%, #00ffaa 80%);
        transition-duration: .5s;
    }
    .news-wrap {
        background: linear-gradient(175deg, #6fe0fd 27%, transparent 29%, transparent 36%, #00FFAA 38%, #00ffaa 62%, transparent 64%, transparent 71%, #6fe0fd 73%);
        transition-duration: .8s;
    }
    .footer {
        background: linear-gradient(30deg, #00ffaa 4%, #6FE0FD 14%, #6fe0fd 45%, transparent 64%, transparent 67%, #00ffaa 87%);
        transition-duration: .8s;
    }
}
@media screen and (min-width: 1650px) {
    .rubi {
        font-size: 96px;
        margin-left: 26%;
        margin-top: 0px;
        transition-duration: .5s;
    }
}
