body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    perspective: 3000px;
    background-color: #101920;
    font-family: "Gotu";
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
section {
    display: none;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.preload {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background: url(img/bg.png) no-repeat left top;
    background-color: #c59939;
    background-size: 100% 100%;
    transform-origin: bottom;
    transform-style: preserve-3d;
}
.pre-wrap {
    width: inherit;
    height: inherit;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.4) translateY(-279px);
}
.pre-rack {
    position: absolute;
    background: url(img/legs.png) no-repeat;
    background-size: 98% 100%;
    width: 50%;
    height: 80vh;
    margin-top: 14vh;
}
.pre-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 8vh;
    padding: 40px 86px;
    background: url(img/tablet.png) no-repeat;
    background-size: contain;
    color: #8b0000;
    font-family: "Indie Flower";
    transform-origin: 82.7% 10%;
}
.pre {
    opacity: 0;
}
.ruby {
    font-size: 100px;
    font-weight: 600;
}
.web {
    font-size: 70px;
    line-height: 1em;
}

.page {
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-880px);
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 75%;
    height: 75vh;
    padding: 10px 35px;
    background-color: #708090;
    border: 8px solid #30363b;
    box-shadow: inset 5px 5px 13px #111;
    color: #b0e0e6;
    font-family: "Raleway", sans-serif;
}
.lock {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #30363b;
    position: absolute;
    top: 17px;
}
.lock:after {
    content: "";
    background-color: #23282c;
    width: 100%;
    height: 2px;
    display: block;
    margin: 45% 0;
    transform: rotate(45deg);
}
.lock.left {
    left: 17px;
}
.lock.right {
    right: 17px;
}
.open {
    font-family: "Kaushan Script";
    font-size: 60px;
}
.tablet .ruby {
    font-weight: 700;
    border-bottom: 3px solid #b0e0e6;
}
.portfolio {
    overflow: hidden;
    /* overflow-x: auto; */
}
.portfolio .wrapper {
    width: 100vw;
}
.adaptive {
    overflow: hidden;
    width: 200vw;
    display: flex;
    transition-duration: 1.7s;
}
.portfolio .inner {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.main {
    opacity: 0;
    padding: 25px;
    display: flex;
    align-items: center;
    transform: translateX(-50vw);
    transition-timing-function: ease-in;
    transition-duration: 1s;
}
.main.appear {
    opacity: 1;
    transform: none;
    transition-timing-function: ease-out;
    transition-delay: .5s;
    transition-duration: 1.7s;
}
.main .frame {
    overflow: hidden;
    display: none;
    transition-delay: .5s;
}
.frame.appear {
    display: block;
}
.frame iframe {
    transform-origin: 0 0;
}
.main iframe {
    width: 100vw;
    height: 100vh;
}
.portfolio .item {
    width: 40vw;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.page-name {
    color: #d0d6db;
    text-shadow: 0 0 8px whitesmoke;
    font-size: 35px;
    display: flex;
    align-items: baseline;
}
.comp {
    height: 37px;
    margin: 0 15px;
}
.phone {
    height: 30px;
}
.portfolio .item a {
    color: #d0d6db;
    font-size: 20px;
}
.v01 {
    font-family: "Indie Flower";
}
.bank {
    font-family: "Kaushan Script";
}
.ani {
    font-family: "Permanent Marker";
}
.toAdapt {
    position: absolute;
    top: 10vh;
    right: 5vh;
    transform-origin: right bottom;
}
.appear .toAdapt {
    cursor: pointer;
    animation: goTo 5.6s 4.5s infinite forwards;
    animation-play-state: paused;
}
.appear .toAdapt.animated {
    animation-play-state: running;
}
@keyframes goTo {
    6.25%, 18.75% {
        transform: rotate(45deg);
    }
    12.5%, 25%, 100% {
        transform: rotate(0deg);
    }
}
.toAdapt object {
    width: 64px;
    transform: rotateY(180deg);
    color: #000;
    -webkit-filter: drop-shadow(0px 3px 2px whitesmoke);
    filter: drop-shadow(0px 0px 8px whitesmoke);
}
.appear .toAdapt_hover {
    animation: blink 3.5s .5s forwards;
}
@keyframes blink {
    10%, 15%, 20%, 68% {
        filter: drop-shadow(0px 0px 8px whitesmoke);
    }
    10.001%, 14.999%, 20.001%, 67.999% {
        filter: contrast(.2);
    }
}
.baffle {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 0;
}




.adapt {
    display: none;
    padding: 20px;
}
.adapt.appear {
    display: block;
}
.adapt .frame {
    width: 90vw;
    height: 85vh;
    overflow: hidden;
}
.adapt iframe {
    width: 1400px;
    height: 100vh;
}
.adapt input {
    width: 40vw;
    position: absolute;
    right: 18px;
    bottom: 40px;
}
.slide_value {
    position: absolute;
    bottom: 10px;
    color: whitesmoke;
    font-family: "Raleway";
}



.sec2 {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.footer {
    width: 100vw;
    height: 20vh;
    position: absolute;
    bottom: 0;
    background-color: #dcdcdcaa;
}



input[type=range] {
    -webkit-appearance: none;
    background: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    cursor: pointer;
    border-radius: 5px;
    background: #70809070;
    padding-right: 10px;
}
input[type=range]::-webkit-slider-thumb {
    width: 8px;
    height: 18px;
    border-radius: 42%;
    background: #708090;
    cursor: pointer;
    -webkit-appearance: none;
    margin: -6.5px 30px 0 5px;
}
input[type=range]::-moz-range-track {
    height: 5px;
    cursor: pointer;
    border-radius: 5px;
    background: #70809070;
    padding-right: 10px;
}
input[type=range]::-moz-range-thumb {
    width: 8px;
    height: 18px;
    border-radius: 42%;
    background: #708090;
    cursor: pointer;
    -webkit-appearance: none;
    margin: -6.5px 30px 0 5px;
}


::-webkit-scrollbar {
    width: 6px;
    transition-duration: .5s;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); 
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); 
    border-radius: 10px 0 0 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px 0 0 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(137, 146, 165, 0.911); 
}