body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(img/bg.jpg) repeat-x;
    background-size: cover;
    width: fit-content;
    overflow-x: overlay;
    overflow-y: hidden;
    font-family: "Caveat";
    font-weight: bold;
}
canvas {
    z-index: 2;
    position: absolute;
}
.nav {
    background-color: rgb(243, 240, 223);
    border-right: 2px;
    padding: 20px;
    padding-top: 5px;
    height: 100%;
    margin-right: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.nav:after {
    content: "";
    z-index: 1;
    background: url(img/line1.png) no-repeat right top;
    background-size: contain;
    width: 100px;
    position: absolute;
    top: 18vh;
    bottom: 18vh;
    margin-left: 135px;
}
.nav li {
    color: black;
    font-family: "Permanent Marker";
    font-size: 28px;
    line-height: 1.3em;
    list-style: none;
}
.nav li:nth-child(1), .nav li:nth-child(5) {
    font-size: 34px;
    line-height: 1em;
}
.nav a {
    color: black;
    font-family: "Permanent Marker";
    font-size: 22px;
    line-height: 1.5em;
}
.wrap {
    margin-left: 90px;
    overflow-x: hidden;
    display: flex;
}
.scroll {
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    height: 100vh;
    background: url(img/scroll3.png) repeat-x right top;
    background-size: 72.96vh;
    transition-duration: 2s;
}
.scroll-end {
    display: none;
    width: 200px;
    height: 100vh;
    background: url(img/scroll4.png) no-repeat;
    background-size: 18.747vh;
    transition-duration: 2s;
}
.scroll-inner {
    width: 800px;
    display: flex;
    margin: 18vh 0 20vh 10px;
    padding-right: 10px;
    border-right: 3px solid;
}
.scroll-inner:first-child {
    border: none;
    padding: 0;
}
.scroll-inner:last-child {
    margin-left: 170px;
}
.scroll-inner:nth-child(4) .nav:after {
    margin-left: 125px;
}
.scroll-item {
    overflow-y: scroll;
}
.scroll-item h3 {
    font-size: 25px;
    text-decoration: underline;
}
.scroll-item p {
    padding-right: 5px;
    font-size: 19px;
}
.scroll-item img {
    float: right;
    margin: 0 5px;
    width: 230px;
    border-radius: 10px;
}
.tables {
    display: flex;
}
.tables table {
    border-radius: 5px;
}
.tables td {
    margin: 0;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #7e000082;
    background-color: peru;
}
.tables td:last-child {
    background-color: transparent;
}
.strength {
    font-size: 20.6px;
}
#credits .scroll-item {
    overflow-y: auto;
}
#credits h2 {
    font-size: 36px;
}
#credits span {
    font-family: "Permanent Marker";
}
.credits-item {
    display: flex;
}
.source {
    margin-left: 15px;
}
.source img {
    width: 250px;
    margin-left: 50px;
}
.contact h3, .source p {
    font-size: 30px;
}
.contact a {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 24px;
}


.scroll-item::-webkit-scrollbar {
    width: 8px;
}
 
.scroll-item::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.scroll-item::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
