header {
    width: 100%;
    height: 100vh;
    background: url("img/bf.png") center top no-repeat;
    background-size: 100%;
    background-color: rgb(36, 77, 209);
    color: #fff;
    padding-top: 15px;
}

.topp {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lang a {
    font-size: 22px;
    line-height: 57px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Montserrat";
    text-align: center;
    padding: 0 8px;
    border-right: 2px solid white;
    
    &:last-child {
        border: none;
    }
}

.logo {
    .img {
        height: 8vh;
        width: auto !important;
    }
}

.pages {
    a {
        margin: 0 15px;
    }
}
.bott {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Open Sans";
    font-weight: 400;
}
.about {
    width: 60%;
    h2 {
        position: relative;
        font-weight: 700;
        
        &:after {
            content: "";
            height: 3px;
            width: 50%;
            display: block;
            margin-top: 2rem;
            background-color: #fff;
        }
    }

    p {
        font-size: 20px;
    }
}
.order {
    width: fit-content;
    display: block;
    margin-top: 40px;
    padding: 25px 50px;
    color: #1f78cf;
    background-color: #fff;
    border-radius: 40px 0 40px 0;
    font-size: 20px;
    
    &:hover {
        color: #1f78cf;
        text-decoration: none;
        box-shadow: inset #32b6f3 0px -8px, inset #32b6f3 1px 1px 2px;
        // outline: #1f78cf;
    }
}